@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  /* body text style */
.Merriweather{
    font-family: "Merriweather", serif;
}
.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/* all boarder size */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* shared style text */
.text-color{
    color: #FF0000;
}
.text-color-2{
    color: #FFFFFF;
}
 /* banner section style start */
 .banner-container{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    text-align: center;
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('../images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .nav{
    color: #FFFFFF;
    padding: 177px 344px;
}
.nav-title{
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 16px;
} 
.nav-subtitle{
    font-size: 72px;
    font-weight: 600;
}
.item{
    margin: 120px 258px;
    text-align: center;
}
.item-title{
    font-size: 88px;
    font-weight: bold;
    padding-bottom: 48px;
}
.item-subtitle{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
/* party style */
.party{
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   
     
}
 
.party-picture{
    margin-left: 500px;
    margin-top: 67px;
    padding-right: 45px;
   
}
 .party-title{
  
    font-size: 55px;
    font-weight: 900px;
    padding-bottom: 24px;
    padding-top: 126px;
    padding-left: 126px;
 }
.party-subtitle{
    font-size: 18px;
    font-weight: 400px;
    padding-left: 126px;
    opacity: 80%;
    padding-bottom: 48px;
}
.party-join{
    font-size: 20px;
    font-weight: bold;
    padding-left: 156px;
}
/* join and some date details */
.join-now{
    background-image:linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%); 
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 386px 214px 385px;
    margin: 50px auto;
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}
.btn-primary{
    padding: 16px 32px;
    background-color: #FF0000;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
/* comming soon ar style */
.comming-soon{
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    width: 1320px;
    height: 463px;
    gap: 14px;
    
}
.comming-container-1{
    padding: 10px;
    /* margin: 104px 70px 104px 140px; */
    
}
.title{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.subtitle{
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}
.description{
    font-size: 20px;
    font-weight: 400;
    opacity: 60%;
}
.comming-container-2{
    padding-right: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}
.comming-picture{
    border: 15px solid #FF0000;
    border-radius: 50%;
    height: 365px;
    width: 365px;
    padding: 30px;
    
}
.comming-container-3{
    width: 276px;
    height: 170px;
    margin: 10px 120px 181px 118px;

}
.container-3-title{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
}
.container-3-subtitle{
    font-size: 20px;
    font-weight: 400;
    opacity: 60%;
    padding-bottom: 44px;
}
.container-3-image{
    height: 140px;
    width: 140px;
}
.holiday{
    margin: 50px auto;
    width: 1320px;
    height: 986px;
    text-align: center;
    background-image: url('../images/Rectangle\ 2.png');
    background-position:bottom;
    background-repeat: no-repeat;

    
}
.holiday-style{
    margin: 120px 126px 64px 126px;
}
.holiday-title{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.holiday-subtitle{
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 28px;
}
.holiday-discription{
    font-size: 20px;
    font-weight: 500;
    opacity: 60%;
    padding-bottom: 64px;
}
.sub-imag{
 margin-top: 0px;
width: 350.69px;
height: 350.69px;
 
}
.description-imag{
 border-radius: 4px;
}
.imag-style{
    display: flex;
    justify-content: space-between;

}
/* gift item */

.gift-container{
    margin: 50px auto;
    width: 1320px;
    height: 986px;
    margin-bottom: 350px;
}
.gift-title{
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    padding-top: 120px;
}
.gift-subtile{
    font-size: 48px;
    font-weight:900;
    padding-bottom: 22px;
}
.gift-description{
    font-size: 20px;
    font-weight:400;
    opacity: 60%;
    padding-bottom: 48px;
}
.img-title{
    display: flex;
    gap: 24px;
}
.img-subtile{
    display: flex;
    gap: 24px;
}
/* subcribe part */
.subscribe-container{
     
    margin: 50px auto;
    width: 1320px;
    height: 986px;
    text-align: center;
    background-image:linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%); 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.subscribe-title{
    padding-top: 150px;
    padding-bottom: 40px;
}
.subscribe-subtitle{
    font-size: 48px;
    font-weight: 900p;
    padding-bottom: 22px;
}
.subscribe-description{
    font-size: 20px;
    font-weight: 400;
    opacity: 60%;
    padding: 0px 212px 48px 212px;

}
.box-sub{
border-radius: 0px 50px 50px 0px;
background: rgb(255, 0, 0);
border: 2px solid red;
width: 450px;
height: 50px;
padding: 12px 58px 16px 58px;
 
}
.subscribe-buttom{
width: 450px;
height: 50px;
border-radius: 50px 0px 0px 50px;
background: rgb(255, 255, 255);
border: none;
}
/* about for the details everything */
 .footer-container{
    width: 100%;
    height: 609px;
    background-color: rgb(7, 2, 17);
    margin: 0px auto;
    font-size: 24px;
    font-weight: 400;
 }
 .contact{
    display: flex;
    color: white;
    margin: 0px auto;
 }
 .footer-first-section{
    display: flex;
    color: white;
    margin: 0px auto;
    width: 90%;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 100px;
    text-align: center;
 }
 .hr{
    margin: 0px auto;
    width: 90%;
    color: #FFFFFF;
    opacity: 15%;
    margin-bottom: 90px;
    margin-top: 50px;

 }
 .social-icons{
    width: 328px;
    height: 64px;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    
 }
 .year{
    display: flex;
    color: white;
    justify-content: space-around;
    margin: 0px auto;
   
    /* margin-bottom: 200px; */
 }